
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "node_modules/bootswatch/darkly/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootswatch/darkly/bootswatch";

@import "../node_modules/react-rangeslider/lib/index.css";

@import "./styles/switch";
@import "./styles/piplayer";

body {
  background-color: #282828;
}

.mainElm {
  margin-top: 70px;
}


.macro-op-table {
  margin-top: 10px;
  margin-bottom: 10px;

  tr {
    border: 1px solid #999;
    margin: 2px;

    td.borderLeft {
      border-left: 1px solid #999;
    }

    td:first-child {
      padding-right: 25px;
    }
  }

  td {
    padding: 10px;
  }
}
