
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "node_modules/bootswatch/darkly/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootswatch/darkly/bootswatch";

@import "../node_modules/react-rangeslider/lib/index.css";

@import "./styles/switch";

body {
  background-color: #282828;
}

.mainElm {
  margin-top: 70px;
}


.macro-op-table {
  // margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;

  tr {
    border: 1px solid #999;
    margin: 2px;

    td.borderLeft {
      border-left: 1px solid #999;
    }

    td:first-child {
      padding-right: 25px;
    }
  }

  td {
    padding: 10px;

    &.invisible-text {
      color: transparent;
    }

    &.compact {
      width: 1%;
    }
  }
}

.macroListWrapper {
  display: flex;
  flex-wrap: wrap;
}

.macroListEntry {
  display: flex;
  flex-direction: column;
  padding: 5px;

  .inner {
    background: #333;
    border-radius: 15px;
    height: 100%;
    padding: 5px;


  }


  .idNumber {
    float: right;
    position: absolute;
    top: 10px;
    right: 15px;
    opacity: 0.6;
  }
}
