[submodule "LibAtem"]
	path = LibAtem
	url = ../LibAtem.git
[submodule "LibAtem.XmlState"]
	path = LibAtem.XmlState
	url = ../LibAtem.XmlState.git
[submodule "LibAtem.DeviceProfile"]
	path = LibAtem.DeviceProfile
	url = ../LibAtem.DeviceProfile.git
