[submodule "LibAtem"]
	path = LibAtem
	url = https://github.com/LibAtem/LibAtem.git
[submodule "LibAtem.XmlState"]
	path = LibAtem.XmlState
	url = https://github.com/LibAtem/LibAtem.XmlState.git
[submodule "LibAtem.DeviceProfile"]
	path = LibAtem.DeviceProfile
	url = https://github.com/LibAtem/LibAtem.DeviceProfile.git
